*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: black;
    color: grey;
}
/* main content */
.main-content{
    background: rgb(27, 27, 27);
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}
/* sidebar */
.sidebar{
    background: black;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: 15px;
}

/* sidebar top */
.aside-top{
    flex-grow: 1;
}

.Blogo{
    width: 120px;
    margin-bottom: 20px;
}

.Slogo{
    display: none;
}


.menu ul{
    list-style: none;
}

.menu ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.menu img{
    width: 20px;
}

.Home .M-txt{
    color: white;
    font-weight: 600;
}

.M-txt {
    margin-left: 10px;
    font-size: 12px;
}

.M-txt:hover{
    color: white;
    font-weight: 600;
}

.playlist{
    margin-top: 20px;
}

.playlist h4{
    margin-bottom: 10px;
}

.add-pl{
    display: flex;
    align-items: center;
}

.add-pl i {
    font-size: 40px;
}

.add-pl span {
    font-size: 14px;
    margin-left: 10px;
}

.add-pl:hover{
    color: white;
}

.list-pl {
    font-size: 12px;
    font-weight: 600;
    list-style: none;
}

.list-pl li:hover{
    color: white;
}

.list-pl li {
    margin-top: 10px;
}



/* sidebar bottom */
.aside-bottom{
    height: 80px;
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.account {
    width: 90%;
}

.download {
    padding-bottom: 5px;
    font-size: 12px;
    border-bottom: 1px solid grey;
}

.download:hover{
    color: white;
}

.name-account {
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.name-account i {
    font-size: 20px;
}

.name-account span {
    margin-left: 5px;
    color: white;
}

/* content */
.content{
    flex-grow: 1;
    padding: 80px 15px 0;
    overflow-y: auto;
}

/* top bar */
.top-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc(100% - 240px);
    padding: 10px;
    background: rgba(0, 0, 0, 0.664);
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.button-Tb{
    width: 180px;
    height: 35px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
}

.button-Tb:hover{
    width: 190px;
    height: 45px;
    font-size: 11px;
}

/* nav */
.nav-menu{
    height: 70px;
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-menu ul li{
    margin-right: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.nav-menu ul li:hover{
    color: white;
}

.nav-menu li:first-child{
   border-bottom: 2px solid greenyellow;
}

/* content-album */
.section-album{
    margin-bottom: 30px;
}

.section-album h2{
    color: white;
}

.section-album span{
    font-size: 12px;
}

.list-album{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.list-album .album{
    height: auto;
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 5px;
    list-style: none;
    justify-content: space-between;
    text-align: center;
}

.album img{
    width: 100%;
    height: auto;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0);

}

.round .card::before{
    border-radius: 50%;
}

.card:hover::before{
    background: rgba(0, 0, 0, 0.6);
}

.card i{
    position: absolute; 
    z-index: 4;
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, .6);
    filter: opacity(0.0);
    
}

.card:hover i{
    filter: opacity(1);
}

.album h4{
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

.album span{
    font-size: 12px;
}

.round img{
    border-radius: 50%;
}

/* footer */
.player{
    background: rgb(44, 44, 44);
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* left */
.footer-album{
    display: flex;
    width: 20%;
}

.list-footer-album{
    display: flex;
    list-style: none;
    align-items: center;
}

.list-footer-album img{
    width: 40px;
}

.list-footer-album i{
    font-size: 15px;
}

.list-footer-album li:nth-child(2){
    margin-left: 7px;

}

.list-footer-album li:nth-child(2) h6{
    color: white;
}

.list-footer-album li:nth-child(2) span{
    font-size: 10px;
}

.list-footer-album li:last-child{
    margin-left: 40px;
}

.list-footer-album li:last-child i{
    margin-left: 10px;
}

/* center */
.footer-controller{
    width: 50%;
}

.list-footer-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-footer-controller i{
    font-size: 15px;
    margin: 0 10px;
    color: white;
}

.list-footer-controller li:nth-child(3) i{
    font-size: 25px;
}

.bottom-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    width: 100%;
}

.bottom-bar li:nth-child(2){
    width: 50%;
}

.bottom-bar .progress-bar-controller{
    width: 100%;
    height: 3px;
    background: grey;
    border-radius: 5px;
    position: relative;
}

.progress-bar-controller .progress{
    display: flex;
    align-items: center;
}

.progress-bar-controller .progress i{
    font-size: 10px;
    margin-left: 100%;
    color: white;
    filter: opacity(0.0);
}

.progress{
    position: absolute;
    width: 20%;
    height: 100%;
    background: white;
}

.progress:hover{
    background: yellowgreen;
    filter: opacity(1);
}

.progress i:hover{
    filter: opacity(1);
}

.bottom-bar li:first-child,
.bottom-bar li:last-child{
    font-size: 10px;
    font-weight: 700;
    color: white;
    margin: 0 10px;
}

/* right */
.footer-audio{
    width: 15%;
    
}

.list-footer-audio{
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.list-footer-audio li{
    font-size: 10px;
    color: white;
    margin-left: 10px;
   
}

.list-footer-audio li:last-child{
    width: 100%;
}

.progress-bar-audio{
    width: 100%;
    height: 3px;
    background: grey;
    border-radius: 5px;
    position: relative;
}

/* media queres */
@media screen and (max-width: 1024px){
    .list-album .album{
        height: auto;
        width: calc(100% / 4 - 15px);
        margin-right: 15px;
        list-style: none;
        justify-content: space-between;
        text-align: center;
    }

    .footer-audio{
        width: 150px;
        flex-shrink: 0;
    }

    .list-footer-album{
        width: 150px;
        flex-shrink: 0;
    }
    
}

@media screen and (max-width: 600px){
    .list-album .album{
        height: auto;
        width: calc(100% / 2 - 15px);
        margin-right: 15px;
        list-style: none;
        justify-content: space-between;
        text-align: center;
    }

    .footer-controller{
        width: 290px;
        flex-shrink: 0;
    }
    
}

@media screen and (max-width: 468px){
    .list-album .album{
        height: auto;
        width: calc(100% / 2 - 15px);
        margin-right: 15px;
        list-style: none;
        justify-content: space-between;
        text-align: center;
    }

    .sidebar{
        background: black;
        width: 40px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-left: 10px;
        padding-top: 15px;
    }

    .Blogo{
        display: none;
    }

    .Slogo{
        display: block;
        margin: -5px 10px 10px -2px;
        width: 25px;
    }

    .menu img{
        display: flex;
        justify-content: center;
    }

    .M-txt{
        display: none;
    }

    .playlist{
        display: none;
    }

    .download{
        border: none;
    }
    
    .download span{
        display: none;
    }

    .name-account span{
        display: none;
    }
    
    
    .list-footer-album li:last-child{
        margin-left: 5px;
    }    
    
}

@media screen and (max-width: 468px){

}